/*RESET.CSS*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*END RESET.CSS*/

.wrapper{
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
}

.top_border{
	display: block;
	background: #262626;
	height: 3px;
	width: 100%;
}

header{
	height: 67px;
	width: 100%;
	background: #07070c;
	z-index: 1;
}	

.lable{
	display: inline-block;
}

.lable #octagon {
	width: 250px;
	height: 105px;
	background: linear-gradient(to right, #00000000 26%, 
										#000000 26%,
										#000000 74%, 
										#00000000 74%);
	position: relative;
	top: -15px;
	text-align: center;
	display: inline-block;
}

.lable #octagon_back {
	width: 252px;
	height: 107px;
	background: linear-gradient(to right, #ff003600 26%, 
										#ff0036 26%,
										#ff0036 74%, 
										#ff003600 74%);
	position: absolute;
	text-align: center;
	display: inline-block;
	z-index: 0;
}

.lable #octagon:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	background-color: #131313;
	width: 250px;
	height: 58px;
	box-sizing: border-box;
	border-left: 2px solid #ff0036;
	border-right: 2px solid #ff0036;
}

.lable #octagon:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0; 
	top: 55px; 
	border-top: 65px solid #131313;
	border-left: 65px solid #ffffff00;
	border-right: 65px solid #ffffff00;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	width: 250px;
	height: 0;
	box-sizing: border-box;
}

.lable #octagon_back:after {
	content: "";
	position: absolute;
	bottom: 0px;
	left: 0px;    
	border-top: 65px solid #ff0036;
	border-left: 65px solid #13131300;
	border-right: 65px solid #13131300;
	width: 250px;
	height: 0;
}

.center{
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
}

header .lable #octagon span{
	font-size: 30px;
	color: #e8e8e8;
	position: relative;
	top: 32px;
	z-index: 1;
	font-family: 'MyriadPro';
}

header .menu li{
	display: inline;
}

header .menu{
	display: flex;
	justify-content: space-around;
	height: 64px;
	align-items: center;	
	margin-left: 10%;
	z-index: 2;
}

header .block_menu{
	display: inline-block;
	width: 76%;
}

header .menu li a{
	color: #a4a4a4;
	text-decoration: none;
	font-size: 16px;
	font-family:'Raleway', sans-serif;

}

header .menu li:hover a{
	color: #fff;
}

header .menu li:hover{
	padding: 20px 0;
	border-top: 3px solid #ff0636;
	border-bottom: 3px solid #ff0636;
}

.container2{
	background-image: url('../image/photodune.png');
	height: calc(100vh - 70px);
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
}

.container2 .black{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.479);
	height: calc(100vh - 70px);
}

.container2 h1{
	text-align: center;
	font-size: 30px;
	font-family: 'Raleway', sans-serif;
	color: #fff;
	font-weight: bold;
}

.container2 span{
	color: #ff0036;
}

.container2 p{
	text-align: center;
	font-size: 16px;
	color: #fff;
	font-family: 'Lato';
	position: relative;
	top: 20px;
	line-height: 24px;
 }

 .container2 .submit{
	display:flex;
	position: relative;
	top: 50px;
	justify-content: center;

 }

 .container2 .submit input[type="submit"] {
	width: 170px;
	height: 50px;
	background-color: #131313;
	border: none;
	align-items: center;
	font-size: 20px;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	margin: 0 10px;
}

.container2 .submit input[type="submit"]:hover{
	background-color: #ff0036;
}

.container3{
	width: 100%;
}

.container3 .top_part h2{
	text-align: center;
	font-size: 30px;
	font-family: 'Raleway', sans-serif;
	color: #262626;
	font-weight: bold;
	margin-top: 105px;
}

.container3 span{
	color:#ff0036;	
}

.container3 .top_part p{
	text-align: center;
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
	color: #505050;
	font-weight: bold;
	margin-top: 52px ;
	margin-bottom: 90px;
}

.container4{
	width: 100%;	
}

.container4 .two_columns {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	margin-bottom: 10%;
}

.container4 .two_columns .item {
	width: 100%;
	min-width: 280px;
	max-width: 575px;
	min-height: 380px;
	position: relative;
}

.container4 .two_columns .item:last-child {
	margin-left: 5%;
	min-width: 460px;
}

.container4 .two_columns .item p {
	font-size: 16px;
	font-family: 'Lato', 'san-serif';
	line-height: 22px;
	color: #505050;
	text-align: justify;
	padding-bottom: 4%;
}

.container4 .two_columns .dropdown {
	display: flex;
	flex-direction: column;
	width: 100%;
	box-sizing: border-box;
}

.container4 .two_columns .dropdown .part{
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}

.container4 .two_columns .dropdown .part:nth-child(2) {
	margin-top: 10px;
	margin-bottom: 10px;

}

.container4 .dropdown .part .change_icon{
	height: 45px;
	width: 60px;
	font-size: 18px;
	padding: 9px 0;
	text-align: center;
	color: #505050;
	background-color: #f7f7f7;
	border-top: 1px solid #e7e7e7;
	border-left: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
}

.container4 .dropdown .part .title {
	height: 45px;
	width: calc(100% - 60px);
	border: 1px solid #e7e7e7;
	color: #262626;
	font-size: 20px;
	font-family:  'Raleway', 'Medium';
	background-color: #f7f7f7;
	padding: 6px 25px 0;
}

.container4 .item .images{
	position: relative;
	width: 420px;
	height: 380px;
	left: calc(50% - 210px);
}

.container4 .two_columns .item img {
	position: absolute;
}

.container4 .item .img1 {
	left: calc(50% - 210px);
	z-index: 1;
	top: 1%;	
	margin: 0 auto;
}

.container4 .item .img2 {
	z-index: -1;
	top: 7%;
	left: 0px;
}

.container4 .item .img3 {
	z-index: -1;
	right: 0px;
	top: 7%;
}

.container4 .two_columns .item .dropdown .part:hover .title {
	color: #ff0036;
}

.container4 .two_columns .item .dropdown .part:hover .change_icon {
	color: #ff0036;
}

.container4 .two_columns .item .dropdown .part .change_icon:active~.descr {
	display: block;
}

.container4 .two_columns .item .dropdown .part .change_icon:active .fa-minus-square {
	display: block;
}

.container4 .two_columns .item .dropdown .part .change_icon:active:active .fa-plus-square{
	display: none;
}

.container4 .dropdown .part .change_icon .fa-minus-square {
	display: none;
	position: relative;
	margin: 4px auto 0;
}

.container4 .two_columns .dropdown .part .descr {
	display: none;
	width: 100%;
	font-size: 14px;
	line-height: 22px;
	font-family: 'Lato';
	text-align: justify;
	color: #505050;
	background-color: #ffffff;
	padding: 10px;
	border: 1px solid #e7e7e7;
}

.container4 .srcoll_bar {
	width: 44%;
	margin: 0 auto;
	background-color: #262626;
	height: 1px;
	color: #262626;
	text-align: center;
}

.container4 .srcoll_bar svg {
	font-size: 18px;
	position: relative;
	top: -10px;
}

.container5{
	display: flex;
	flex-direction: row;
	justify-items: space-around;
}

.container5 .item{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 100px;
	margin-bottom: 100px;
	padding: 25px;
}

.container5 .item .hexagon {
	position: relative;	
	width: 90px;
	height: 75px;
	background: #000;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}	

.container5 .item .hexagon:before {
	content: '';
	position: absolute;
	top: 1px;
	left: 1px;
	right: 1px;
	bottom: 1px;
	background: #fff;
	background-size: cover;
}

.container5 .item .hexagon,
.container5 .item .hexagon:before {
  clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
  transition: .3s;
}
 
.container5 .item .hexagon svg{
	font-size: 20px;
	color: #262626;
	z-index: 1;
}

.container5 .item .hexagon:hover,
 .container5 .item .hexagon:hover:before {
	background: #ff0036;
	
}

.container5 .item .hexagon:hover svg{
	color: #fff;
}

.container5 .item h3{
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	color: #262626;
	margin-top: 37px;
}

.container5 .item p{
	font-family: 'Lato';
	font-size: 16px;
	color: #616161;
	text-align: center;
	margin-top: 30px;
	line-height: 24px;
} 

.container6{
	width: 100%;
	background-color: #262626;
}

.container6 h2{
	padding-top: 10%;
	text-align: center;
	font-size: 30px;
	font-family: 'Raleway', sans-serif;
	color: #fff;
	font-weight: bold;
}

.container6 .menu li{
	display: inline;
}

.container6 .menu{
	display: flex;
	justify-content: space-around;
	height: 64px;
	align-items: center;
	margin-bottom: 0;	
}

.container6 .block_menu{
	margin: 0 auto;
	width: 50%;
}

.container6 .menu li a{
	color: #a4a4a4;
	text-decoration: none;
	font-size: 20px;
	font-family:'Raleway', sans-serif;
}

.container6 .menu li:hover a{
	color: #ff0636;
}

.container7{
	padding-top: 5%;
	padding-bottom: 10%;
	display: grid;
	grid-template-columns: repeat(14 , 1fr);
	grid-template-rows: auto auto;
	background: #262626;
	width: 100%;
}

.container7 .hover_item .content svg{
	color: #fff;
}

.container7 .hover_item .content p{
	color: #fff;
	font-size: 16px;
}

.container7 .hover_item .content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 35%;
}

.container7 .item1{
	grid-column: 1/5;
	grid-row: 1/2;
}	

.container7 .hover_item{	
	display: block;
	grid-column: 1/5;
	grid-row: 1/2;
	background: rgba(0, 0, 0, 0.9);
}

.container7 .item1:hover .container7 .hover_item{
	display: block;
}

.container7 .item2{
	grid-column: 5/8;
	grid-row: 1/2;
	background: #000;
}

.container7 .item2 img:hover{
	opacity: 0.1;
}

.container7 .item3{
	grid-column: 8/12;
	grid-row: 1/2;
	background: #000;
}

.container7 .item4{
	grid-column: 12/15;
	grid-row: 1/2;
	background: #000;
}

.container7 .item5{
	grid-column: 1/4;
	grid-row: 2/3;
	background: #000;
}
.container7 .item6{
	grid-column: 4/8;
	grid-row: 2/3;
	background: #000;
}
.container7 .item7{
	grid-column: 8/11;
	grid-row: 2/3;
	background: #000;
}
.container7 .item8{
	grid-column: 11/15;
	grid-row: 2/3;
	background: #000;
}

.container7 div img{
	max-width: 100%;
}

.container8{
	width: 100%;
}

.container8 h2{
	text-align: center;
	font-size: 30px;
	font-family: 'Raleway', sans-serif;
	color: #262626;
	font-weight: bold;
	margin-top: 105px;
}

.container8 span{
	color:#ff0036;	
}

.container8 p{
	text-align: center;
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
	color: #505050;
	font-weight: bold;
	margin-top: 52px ;
	margin-bottom: 60px;
}

.container9 {
	width: 100%;
}

.container9 .list{
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.container9 .list .item1{
	display: flex;
	flex-direction: column;
	width: 30%;
	margin-top: 10%;
}

.container9 .list .item1 .row1{
	border: 1px solid #a4a4a485;
	margin: 3%;
}

.container9 .list .item1 .row2{
	border: 1px solid #a4a4a485;
	margin: 3%;
}

.container9 .list .item1 .row3{
	border: 1px solid #a4a4a485;
	margin: 3%;
}

.container9 .list .item3{
	display: flex;
	flex-direction: column;
	width: 30%;
	margin-top: 10%;
}

.container9 .list .item3 .row1{
	border: 1px solid #a4a4a485;
	margin: 3%;
}

.container9 .list .item3 .row2{
	border: 1px solid #a4a4a485;
	margin: 3%;
}

.container9 .list .item3 .row3{
	border: 1px solid #a4a4a485;
	margin: 3%;
}

.container9 .list .item2 {
	display: flex;
	align-items: flex-start	;	
}

.container9.list .item2 .img{
	max-width: 100%;
}

.container9 .list .item1 h4{
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	color: #292929;
	text-align: left;
	font-weight: 500;
	margin: 2%;
}

.container9 .list .item3 h4{
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	color: #292929;
	text-align: left;
	font-weight: 500;
	margin: 2%;
	text-align: right;
}

.container9 .item1 .row1 {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 1%;
}

.container9 .item1 .row1 .hexagon {
	position: relative;	
	width: 36px;
	height: 30px;
	background: #a4a4a450;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}	

.container9 .item1 .row1 .hexagon:before {
	content: '';
	position: absolute;
	background-size: cover;
}

.container9 .item1 .row1 .hexagon,
.container9 .item1 .row1 .hexagon:before {
  clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
  transition: .3s;
}
 
.container9 .item1 .row1 .hexagon svg{
	font-size: 14px;
	color: #000;
	z-index: 1;
}

.container9 .item1 .row1:hover .hexagon{
	background: #fff;
	z-index: 1;
}

.container9 .item1 .row1:hover svg{
	color: #ff0036;
}

.container9 .item1 .row1:hover h4{
	color: #fff;
}

.container9 .item1 .row1:hover{
	background-color: #ff0036;
}

.container9 .item1 .row2 {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 1%;
}

.container9 .item1 .row2 .hexagon {
	position: relative;	
	width: 36px;
	height: 30px;
	background: #a4a4a450;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}	

.container9 .item1 .row2 .hexagon:before {
	content: '';
	position: absolute;
	background-size: cover;
}

.container9 .item1 .row2 .hexagon,
.container9 .item1 .row2 .hexagon:before {
  clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
  transition: .3s;
}
 
.container9 .item1 .row2 .hexagon svg{
	font-size: 14px;
	color: #000;
	z-index: 1;
}

.container9 .item1 .row2:hover .hexagon{
	background: #fff;
	z-index: 1;
}

.container9 .item1 .row2:hover svg{
	color: #ff0036;
}

.container9 .item1 .row2:hover h4{
	color: #fff;
}

.container9 .item1 .row2:hover{
	background-color: #ff0036;
}

.container9 .item1 .row3 {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 1%;
}

.container9 .item1 .row3 .hexagon {
	position: relative;	
	width: 36px;
	height: 30px;
	background: #a4a4a450;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}	

.container9 .item1 .row3 .hexagon:before {
	content: '';
	position: absolute;
	background-size: cover;
}

.container9 .item1 .row3 .hexagon,
.container9 .item1 .row3 .hexagon:before {
  clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
  transition: .3s;
}
 
.container9 .item1 .row3 .hexagon svg{
	font-size: 14px;
	color: #000;
	z-index: 1;
}

.container9 .item1 .row3:hover .hexagon{
	background: #fff;
	z-index: 1;
}

.container9 .item1 .row3:hover svg{
	color: #ff0036;
}

.container9 .item1 .row3:hover h4{
	color: #fff;
}

.container9 .item1 .row3:hover{
	background-color: #ff0036;
}

.container9 .item3 .row1 {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 1%;
}

.container9 .item3 .row1 .hexagon {
	position: relative;	
	width: 36px;
	height: 30px;
	background: #a4a4a450;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}	

.container9 .item3 .row1 .hexagon:before {
	content: '';
	position: absolute;
	background-size: cover;
}

.container9 .item3 .row1 .hexagon,
.container9 .item3 .row1 .hexagon:before {
  clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
  transition: .3s;
}
 
.container9 .item3 .row1 .hexagon svg{
	font-size: 14px;
	color: #000;
	z-index: 1;
}

.container9 .item3 .row1:hover .hexagon{
	background: #fff;
	z-index: 1;
}

.container9 .item3 .row1:hover svg{
	color: #ff0036;
}

.container9 .item3 .row1:hover h4{
	color: #fff;
}

.container9 .item3 .row1:hover{
	background-color: #ff0036;
}

.container9 .item3 .row2 {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 1%;
}

.container9 .item3 .row2 .hexagon {
	position: relative;	
	width: 36px;
	height: 30px;
	background: #a4a4a450;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}	

.container9 .item3 .row2 .hexagon:before {
	content: '';
	position: absolute;
	background-size: cover;
}

.container9 .item3 .row2 .hexagon,
.container9 .item3 .row2 .hexagon:before {
  clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
  transition: .3s;
}
 
.container9 .item3 .row2 .hexagon svg{
	font-size: 14px;
	color: #000;
	z-index: 1;
}

.container9 .item3 .row2:hover .hexagon{
	background: #fff;
	z-index: 1;
}

.container9 .item3 .row2:hover svg{
	color: #ff0036;
}

.container9 .item3 .row2:hover h4{
	color: #fff;
}

.container9 .item3 .row2:hover{
	background-color: #ff0036;
}

.container9 .item3 .row3 {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 1%;
}

.container9 .item3 .row3 .hexagon {
	position: relative;	
	width: 36px;
	height: 30px;
	background: #a4a4a450;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}	

.container9 .item3 .row3 .hexagon:before {
	content: '';
	position: absolute;
	background-size: cover;
}

.container9 .item3 .row3 .hexagon,
.container9 .item3 .row3 .hexagon:before {
  clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
  transition: .3s;
}
 
.container9 .item3 .row3 .hexagon svg{
	font-size: 14px;
	color: #000;
	z-index: 1;
}

.container9 .item3 .row3:hover .hexagon{
	background: #fff;
	z-index: 1;
}

.container9 .item3 .row3:hover svg{
	color: #ff0036;
}

.container9 .item3 .row3:hover h4{
	color: #fff;
}

.container9 .item3 .row3:hover{
	background-color: #ff0036;
}

.container9 .list .item2 img {
	display: block;
	max-width: 100%;
	height: auto;
	}

.container10{
	width: 100%;
	background-image: url('../image/backgr.png');
}	

.container10 .double_content{
	display: flex;
	width: 100%;
	padding-bottom: 5%;
}

.container10 .double_content .clints{
	margin: 2%;
}

.container10 .double_content .product{
	display: flex;
	flex-wrap: wrap;	
	margin: 1%;
}
.container10 .double_content .product img{	
	margin: 2%;	
	width: 46%;
}

.container10 h2{
	text-align: center;
	font-size: 30px;
	font-family: 'Raleway', sans-serif;
	color: #fff;
	font-weight: bold;
	margin-top: 105px;
	padding-top: 7%;
}

.container10 span{
	color:#ff0036;	
}

.container10 p{
	text-align: center;
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
	color: #a4a4a4;
	font-weight: bold;
	margin-top: 52px ;
	margin-bottom: 60px;
}

.container10 .double_content .clints h4{
	text-align: center;
	font-family: 'Raleway', 'sans-serif';
	font-size: 20px;
	color: #fff;
}

.container10 .double_content .clints p{
	color: #a4a4a4;
	font-family: 'Lato';
	font-size: 16px;
	margin-top: 5%;
	margin-bottom: 0;
}

.container10 .double_content .clints .carusel{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.container10 .double_content .clints .carusel p{
	font-family: 'Raleway', 'sans-serif';
	font-size: 14.69px;
	font-weight: bold;
	color:#ff0036;
	margin-top: 0;
}

.container10 .double_content .clints .carusel img{
	display: block;
	height: auto;
	max-width: 100%;
	margin-top: 5%;
}

.container11{
	width: 100%;
}

.container11 h2{
	text-align: center;
	font-size: 30px;
	font-family: 'Raleway', sans-serif;
	color: #262626;
	font-weight: bold;
	margin-top: 105px;
}

.container11 span{
	color:#ff0036;	
}

.container11 p{
	text-align: center;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	color: #505050;
	font-weight: bold;
	margin-top: 52px ;
	margin-bottom: 60px;
}

.container11 .descr span{
	font-family: 'Raleway','sans-serif';
	font-weight: 500;
	font-size: 20px;
	color: #262626;
	padding-top: 2%;
}

.container11 .descr p{
	font-family: 'Lato';
	font-weight: 500;
	font-size: 14px;
	color: #505050;
	margin-top: 5% ;
	margin-bottom: 0;
}

.container11 .item_img{
	text-align: center;
	margin: 10px 0;
}

.container11 .descr{
	border: 1px solid #a4a4a496;
	padding: 5%;
}

.container11 .item_img img{
	max-width: 100%;
}

.container11 .hover_cart{
	display: block;
	background: #292929be;
}

.contaner11 .item_img img:hover .hover_cart{
	display: block;
}

.container11 .srcoll_bar {
	width: 44%;
	background-color: #262626;
	height: 1px;
	color: #262626;
	text-align: center;
	margin: 10% auto;
}

.container11 .srcoll_bar svg {
	font-size: 18px;
	position: relative;
	top: -10px;
}
/*-------(13)our Skills-------*/

.container13 h2{
	text-align: center;
	font-size: 30px;
	font-family: 'Raleway', sans-serif;
	color: #262626;
	font-weight: bold;
	margin-top: 100px;
}

.container13  span{
	color:#ff0036;	
}

.container13 p{
	text-align: center;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	color: #505050;
	font-weight: bold;
	padding-top: 50px ;
	margin-bottom: 100px;
}

.container13 .diagram .item .content{
	background: #fff;
	width: 145px; 
	height: 145px;
    text-align: center;
    font: 40px/145px 'Lato', serif;
    border: 3px solid #ff0036;
    border-right: 3px solid #f2f2f2;
	border-radius: 50%;
}

.container13 .diagram .item h4{
	font-family:  'Raleway', sans-serif;
	font-size: 20px;
	color: #262626;
	text-align: center;	
	margin: 30px 0;
}

.container13 .diagram .item p{
	font-family: 'Lato',"serif";
	font-size: 16px;
	text-align: center;
	color: #505050;
	font-weight: 500;
	padding-top: 0px;
}

/*---------(14)our servise---------------*/
.container14{
	background: #272727;
}

.container14 h2{
	text-align: center;
	font-size: 30px;
	font-family: 'Raleway', sans-serif;
	color: #fff;
	font-weight: bold;
	padding-top: 100px;
}

.container14 span{
	color:#ff0036;	
}

.container14 p{
	text-align: center;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	color: #fff;
	font-weight: bold;
	padding-top: 50px ;
	margin-bottom: 100px;
}

.container14 .service .item .card{
	border: none;
	margin-bottom: 100px;
}

.container14 .service .item .card .icon{
	display: flex;
	align-items: center;
	background: #272727;
}

.container14 .service .item .card .text{
	background:#343434;
	color: #a4a4a4;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	padding: 30px;
}

.container14 .service .item .card .icon h4{
	color: #e1e1e1;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	margin-left: 40px;
	margin-top: 40px;
	margin-bottom: 40px;
}

.container14 .service .item .card .icon .hexagon {
	position: relative;	
	width: 65px;
	height: 60px;
	background: #a4a4a4;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}	

.container14 .service .item .card .icon .hexagon:before {
	content: '';
	position: absolute;
	background-size: cover;
}

.container14 .service .item .card .icon .hexagon,
.container14 .service .item .card .icon .hexagon:before {
  clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
  transition: .3s;
}
 
.container14 .service .item .card .icon .hexagon svg{
	font-size: 25px;
	color: #272727;
	z-index: 1;
}

.container14 .service .item .card .icon:hover .hexagon{
	background: #ff0036;
	z-index: 1;
}

.container14 .service .item .card .icon:hover svg{
	color: #fff;
}

.container14 .service .item .card .icon:hover h4{
	color: #fff;
}

.container14 .service .item .card .text:hover{
	background-color: #3d2329;
}
/*---------(15)Plans Bestseller----------*/
.container15 h2{
	text-align: center;
	font-size: 30px;
	font-family: 'Raleway', sans-serif;
	color: #262626;
	font-weight: bold;
	margin-top: 100px;
}

.container15 span{
	color:#ff0036;	
}

.container15 p{
	text-align: center;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	color: #505050;
	font-weight: bold;
	padding-top: 50px ;
	margin-bottom: 100px;
}

.container15 .price .item{
	min-width: 270px;
}

.container15 .price .item .card .first_cell{
	background: #262626;
	color: #fff;
	font-family: 'Raleway','sans-serif';
	font-size: 20px;
	font-weight: 500;
	text-align: center;
	padding: 18px 0;
}

.container15 .price .item .card .second_cell{
	background: #f2f2f2;
	text-align: center;
	padding: 20px 0;
	font-size:16px;
	color:#262626;
	font-family:  'Lato', sans-serif;
}

.container15 .price .item .card .second_cell span{
	color: #262626;
	font-family:  'Lato', sans-serif;
	font-size: 50px;
	font-weight: 900;
}

.container15 .price .item .card .other_cell{
	border-left: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2;
	border-right: 1px solid #f2f2f2;
	text-align-last: center;
	font-family:  'Lato', sans-serif;
	font-size: 16px;
	color: #262626;
	padding: 20px 0;
}

.container15 .price .item .card .btn_cell{
	text-decoration: none;
	margin: 30px 0;
	text-align: center;
	
}

.container15 .price .item .card .btn_cell a{
	background: #262626;
	padding: 13px 52px;
	color: #fff;
	font-family: 'Raleway','sans-serif';
	font-size: 18px;
}

.container15 .price .item .card .btn_cell a:hover{
	background: #ff0036;
	text-decoration: none;
} 

.container15 .price .item .card:hover .second_cell{
	background: #ff0036;
	color: #fff;
} 

.container15 .price .item .card:hover .second_cell span{
	color: #fff;
} 

/*------twitte---------*/
.container16{
	background-image: url('../image/twitter.png');
}

.container16 .content{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container16 svg{
	margin-top: 95px;
	margin-bottom: 30px;
	color: #fff;
	font-size: 25px;
}

.container16 .content:hover svg{
	color:#ff0036;
}

.container16 p{
	color: #fff;
	font-size: 16px;
	text-align: center;
	margin-bottom: 100px;
}

.container16 .srcoll_bar {
	width: 44%;
	background-color: #ff0036;
	height: 1px;
	color: #ff0036;
	text-align: center;
	margin: 0 auto;
}

.container16 .srcoll_bar .fa-circle {
	position: relative;
	bottom: 10px;
	margin: 0;
	font-size: 18px;
	color: #ff0036;
}

/*------(17)our Blog----*/
.container17 h2{
	text-align: center;
	font-size: 30px;
	font-family: 'Raleway', sans-serif;
	color: #262626;
	font-weight: bold;
	margin-top: 100px;
}

.container17 span{
	color:#ff0036;	
}

.container17 p{
	text-align: center;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	color: #505050;
	font-weight: bold;
	padding-top: 50px ;
	margin-bottom: 100px;
}

.container17 .blog .descr .card1 h4,
.container17 .blog .descr .card2 h4{
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	color: #2e2e2e;
	font-weight: 500;
	margin: 0;
}

.container17 .blog .descr .card1 p,
.container17 .blog .descr .card2 p{
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	color: #505050;
	font-weight: 300;
	text-align: left;
	margin-bottom: 30px;
	padding: 8px 0;
}

.container17 .blog .descr .card1 a,
.container17 .blog .descr .card2 a{
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	color: #fff;
	text-align: left;
	background: #262626;
	padding: 15px;
	margin-bottom: 50px;
	text-decoration: none;
}

.container17 .blog .descr .card1 a:hover,
.container17 .blog .descr .card2 a:hover{
	background: #ff0036;
}
.container17 .blog .descr .card2{
	margin-top: 58px;
}

.container17 .blog .image img{
	margin-bottom: 50px;
}

.container17 .blog .image img:hover{
	opacity: 0.5;
}

.container17 .blog .descr .card1 .icon,
.container17 .blog .descr .card2 .icon{
	display: flex;
	color: #a2a2a2;
	align-items: center;
	font-size: 12px;
}

.container17 .blog .descr .card1 .icon .space,
.container17 .blog .descr .card2 .icon .space {
	width: 3%;
}

.container17 .blog .descr .card1 .icon svg,
.container17 .blog .descr .card2 .icon svg {
	margin: 1%;
}



/*------media---------*/

@media(max-width: 1020px){
	header .block_menu{
		width: 70%;
	}

	header .menu li a {
		font-size: 14px;
	}

	header .lable #octagon_back {
		width: 0;
		height: 108px;
	}

	header .lable #octagon{
		width: 218px;
		height: 100px
	}

	header .lable #octagon:before {
		width: 220px;
	}

	header .lable #octagon:after {
		width: 220px;
	}

	header .lable #octagon_back:after {
		width: 220px;
	}

	header .lable #octagon_back:before {
		width: 216px;
	}

	.container6 .menu li a {
		font-size: 16px;
	}
}

@media(max-width: 930px){
	.container4 .two_columns .item .dropdown .part h4 {
		font-size: 1.2rem;
	}header .menu li a {
    font-size: 12px;
	}

	.container9 .list .item1 h4 {
		font-size: 16px;
	}

	.container9 .list .item3 h4 {
		font-size: 16px;
	}

}

@media(max-width: 800px){
	header{
		height: 55px;
	}

	header .menu{
		height: 54px;
	}

	header .block_menu{
		width: 65%;
	}

	header .menu li a {
		font-size: 12px;
	}

	header .menu li:hover{
		padding: 14px 0;
	}
}